.foot {
	// __ прижимает футер на коротких страницах __
	margin-top: auto;
}
.navbarWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: lightskyblue;
}

.footerText {
	font-size: 14px;
	padding-left: 12px;
}

.footer-logo:hover {
	// background-color: red;
	animation: footer-logo-spin infinite 10s linear;
}

@keyframes footer-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
